* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.bookcard {
  padding-top: 10px;
  background: #fff;
  margin: 10px auto;
  width: 85%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.books {
  padding-top: 15px;
  background: #fafafa;
  height: auto;
}

.right {
  display: flex;
  flex-direction: column;
  padding: 5px 0 0 40px;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 25%;
}

.category {
  width: 4.313rem;
  height: 1.125rem;
  margin: 0 1.188rem 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.remove {
  border: none;
  outline: none;
  color: #4386bf;
  background: none;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  padding: 0 10px;
}

.book-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  flex-basis: 40%;
}

.title {
  width: auto;
  height: 1.813rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #000;
}

.m-1 {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.spinner {
  width: 75px;
  height: 75px;
}

.progress-container {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.-Percent-Complete {
  width: 2.938rem;
  height: 2.138rem;
  margin: 0.063rem 7.063rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-right: 2px solid #e8e8e8;
  padding-right: 10px;
  height: 45px;
}

.completed {
  width: 5rem;
  height: 0.825rem;
  margin: 0.438rem 0 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.update {
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  height: 1.125rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.book-form {
  margin: 40px auto;
  width: 85%;
  background: none;
  padding: 0 0 400px 0;
  border-top: 1px solid #e8e8e8;
}

.book-form h3 {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.new-book-input {
  width: 60%;
}

.title-input {
  width: 90%;
  height: 1.813rem;
  padding: 10px;
  outline: darkgrey;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.author-input {
  width: 17.813rem;
  height: 1.813rem;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.author-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.add-book {
  width: 11.5rem;
  height: 2.813rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
  border: none;
}

.Current-Chapter {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 0;
  opacity: 0.5;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Current-Lesson {
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.bookauthor {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #4386bf;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4386bf;
}

.fa-sharp {
  color: #4386bf;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 95px;
  height: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  width: 95%;
}

.navbar h1 {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 1.538rem 0.125rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.575rem;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.navlinks {
  display: flex;
  align-items: center;
}

.link-c {
  width: 6.563rem;
  height: 1rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.713rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.link-b {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}
