* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header {
  padding: 10px;
  margin: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.booklist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  height: 50px;
  width: 50%;
  padding: 10px;
  margin: 5px;
  background-color: cadetblue;
}

.book-container {
  margin: 50px auto;
}

.books {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newbook-form {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}

.form-container {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: chocolate;
  width: 50%;
  height: 50px;
  padding: 10px;
}

.author-input {
  margin-right: 10px;
}

.category {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
